<div class="jumbotron text-center">
    <h1>Welcome to my app!</h1>
    <%= link_to "Log In", "#", class: "btn btn-default btn-lg text-uppercase" %>
    <%= link_to "Sign Up", "#", class: "btn btn-success btn-lg text-uppercase" %>
</div>